---
layout: default
title: Home
---

{% include header.html %}

{{ content | markdownify }}

{% if page.title %}
    <h1>{{ page.title }}</h1>
{% endif %}

<table>
{% for page in paginator.posts %}
    <tr>
        {% if site.hide_post_date != true %}
        <td align="right">
            {% include post-date.html %}
        </td>
        <td>
            ~
        </td>
        {% endif %}
        <th align="left">
            <a href="{{ site.github.url }}{{ page.url }}">
                {% if page.image %}
                <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
                {% endif %}
                <span>{{ page.title }}</span>
            </a>
        </th>
    </tr>
{% endfor %}
</table>

<div class="pagination">
    {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
    {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
    {% endif %}
    {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
    {% endif %}
</div>
